# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env
.env.*
.pytest_cache/
.ipynb_checkpoints/

# Editors/IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# Node/Next
node_modules/
.next/

# Outputs
*.pdf
*.png
*.jpg
*.jpeg
